.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.obsidian.vimrc

# macOS metadata files
._*
.AppleDouble
.LSOverride
Icon?
.Spotlight-V100
.Trashes
